    
    *{
        margin: 0px;
        box-sizing: border-box;
    }
    body{
        background-image: url("./img/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        align-content: center;
    }
    .line{
        width: 39px;
        height: 3px;
        background-color: white;
        margin: 3px;
        margin-left: 3px;
    }
    .arrow-down {
        width: 0; 
        height: 0; 
        margin: 3px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        
        border-top: 20px solid white;
      }
      .triangle{
          display: none;
          cursor: pointer;
      }
    .container{
        padding: 0px;
        
        grid-template-columns: 1fr;
        border-radius: 15 px;
        background-color: rgb(0, 0, 0,0.4);
        border-radius: 40px;
      
    }
    .header{
        padding: 20px;
        background-color: rgb(0, 0, 0,0.2);
        border-top-right-radius: 40px ;
        border-top-left-radius: 40px;
    }
    .header > h2{
        text-align: center;
        margin-top: auto;
        animation: fly 1s ease-in-out;
        font-size: 2em;
    }
    .nav-bar{
        position: sticky;
        top:0;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        font-size: 1.5em;
        animation: fly 2s ease-in-out;
        transition: 0.5s ease-in;
        
        z-index: 3;
    }
    .nav-scroll{
        background-color: rgb(0, 0, 0,0.8);
        border-radius: 20px;
    }
    .left{
        padding-left: 1.4em;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .right{
        display: flex;
        transition: 0.5s;
    }
    .nav-bar div{
        align-items: center;
    }
    .nav-bar > .left > div{
        margin-right: 50px;
        font-size: 1em;
    }
    .nav-bar > .right > div{
        margin-left: 20px;
        font-size: 1em;
        color: white;
    }
    .nav-link a {
        color: #ffffff;
        text-decoration: none;
        transition: color 0.5;
    }
    .nav-link a:hover{
        color: black;
    }
    h2 
    {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 30px;
    }
    .box{
        margin-top: 1%;
    }
    .box h1{
        color: rgb(255, 255, 255);
        font-size: 25px;
        margin-left: 20px;
    }
    .box ul{
        position: relative;
        padding: 10px;
    }
    .box .menu_2:hover{
        background-color:rgb(0, 0, 0,0.1);
        border-radius: 20px;
        transition: 0.5s;
    }
    .box ul:hover li a{
        opacity: 0.2;
    }
    .box ul li a:hover{
        opacity: 1;
    }
    .box ul li{
        color: rgb(255, 255, 255);
        list-style: none;
        padding: 10px;
        width: 100%;
        transition: color 0.5s;
    }
    .box ul li:hover{
        border-left: 2px solid white;
    }
    .box ul li span{
        width: 20 px;
        display: inline-block;
        margin-right: 10px;
        text-align: center ;
    }
    .box a {
    text-decoration : none;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    transition: 0.5s;
    z-index: 1;
    }
    .box a:hover
    {
        transform: scale(1.01);
        padding: 5px 5px;
        background-color: rgb(255, 255, 255,0.8);
        border-radius: 5PX;
        color: black;
        opacity: 1;
    }
    a {
        text-decoration : none;
        color: rgb(255, 255, 255);
        letter-spacing: 1px;
        transition: 0.3s;
        }
     a:hover
    {
        padding: 5px 5px;
        background-color: rgb(255, 255, 255,0.8);
        border-radius: 5PX;
        color: black;
        opacity: 1;
    }
    .menu {
        position: absolute;
        margin-left: 3%;
        margin-top: -3%;
        display: none;
        opacity: 0;
        pointer-events: none;  
        transform: translateX(-20px);
        transition: transform 0.5s ease-in-out;
    }
    .menu ul{
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center ;   
    }
    .menu li{
        color: white;
        list-style: none;
        padding-right: 0.5em;
        padding-bottom: 0.5em;
    }
    .menu_2 li{
        opacity: 0;
        transform: translateX(-30px);
        animation: fadein 1s;
        animation: listfade 1s ease forwards ;
        animation-delay: calc(var(--animation-order) * 400ms);
    }
    .chapter{
        padding: 2em;
        transition: 0.5s ease-in-out;
        z-index: 1.5;

    }
    .chapter h1{
        overflow: hidden;
        position: absolute;
    }
    .chapter:hover{
        transform: translateX(20px);
        transition: 0.5s ease-in-out;
        
    }
    .chapter h1:nth-child(1){
        color: white;
    }
    .chapter h1:nth-child(2){
        color: white;
    }
    footer{
        padding: 1em;
        opacity: 0;
        pointer-events: none;
    }
    header{
        padding: 0.5em;
        opacity: 0;
        pointer-events: 0;
    }
    @keyframes fadein{
        from {
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    @keyframes fly{
        0%{
            transform: translateY(-200px);
            opacity: 0;
        }
        50%{
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes fadeout{
        from {
            opacity: 1;
        }
        to{
            opacity: 0;
        }
    }
    @keyframes listfade{
        from{
            opacity: 0;
            transform: translateX(-30px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    @media screen and (max-width:720px){
        body{
            overflow-x: hidden;
        }
        .left{
            position: absolute;
            left: -1000px;
            height: 20vh;
            top: 16vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
           
        }
        .nav-link{
            padding: 20px;
        }
        .nav-link a{
            opacity: 1;
        }
        .triangle{
            display: block;
            transform: rotate(-90deg);
        }
        .menu{
            display: block;
        }
        
      }
      .nav-active{
          pointer-events: all;
          opacity: 1;
          transform: translateX(0px);
          animation: fadein 0.5s ease-in-out;
      }
      .nav-active2{
        animation: fadeout 0.5s ease-in;
        opacity: 0;
        transition: fadeout 0.5 ease-out;
        pointer-events: none;
    }
    .nav-stick{
        background-color: rgb(0, 0, 0,0.8);
    }
    

